<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/page/head.ejs %>
    </head>
    <body class="<%= classname %>">
        <header>
            <% include partials/page/header.ejs %>
        </header>
        <div class="container">
            <h1><%= title %></h1>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
            </p>

            <% if (classname === 'home') { %>
                <section id="team">
                    <h4 id="teamTitle">Developers' Guild Website Backend Team Members</h4>
                    <ul>
                    <% for (var i=0; i<users.length; i++) { %>
                        <li><%= users[i] %></li>
                    <% } %>
                    </ul>
                </section>
            <% } %>
        </div> <!-- / container -->

        <% include partials/page/footer.ejs %>
        <% include partials/page/jsdefaults.ejs %>

    </body>
</html>